PORT=3000
DATABASE_URL="mysql://root:password@localhost:3306/port_one_payment_poc"
JWT_SECRET="your_jwt_secret"
ACCESS_TOKEN_EXPIRATION="1h"
REFRESH_TOKEN_EXPIRATION="7d"
CORS_ORIGIN="http://localhost:5173"
PORTONE_STORE_ID="your_store_id"
PORTONE_API_SECRET="your_api_secret"